<div class="container d-flex flex-wrap ">
    
    <div class="border border-1 m-2" style="width: 300px; height: 300px;">
        <canvas id="barCanvas">{{barChart}}</canvas>
    </div>

    <div class="border border-1 m-2" style="width: 300px; height: 300px;">
        <canvas id="lineCanvas">{{lineChart}}</canvas>
    </div>

    <div class="border border-1 m-2" style="width: 300px; height: 300px;">
        <canvas id="pieCanvas">{{pieChart}}</canvas>
    </div>

</div>

<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="scrollable-container">
          <div class="scrollable-content">
            
            <img src="assets/images/ciy.jpg" alt="" >
            <img src="assets/images/ciy.jpg" alt="" >
            <img src="assets/images/ciy.jpg" alt="" >
            <img src="assets/images/ciy.jpg" alt="" >
            <img src="assets/images/ciy.jpg" alt="" >
            <img src="assets/images/ciy.jpg" alt="" >
            <img src="assets/images/ciy.jpg" alt="" >
            <!-- Add more content as needed -->
          </div>

          <div class="scrollable-content">
            <img src="assets/images/ciy.jpg" alt="" >
            <img src="assets/images/ciy.jpg" alt="" >
            <img src="assets/images/ciy.jpg" alt="" >
            <img src="assets/images/ciy.jpg" alt="" >
            <img src="assets/images/ciy.jpg" alt="" >
            <img src="assets/images/ciy.jpg" alt="" >
            <img src="assets/images/ciy.jpg" alt="" >
            <!-- Add more content as needed -->
          </div>

        </div>
      </div>
    </div>
  </div>
